<h1>Employees#edit</h1>

<h3>Edit employee <%= @employee.first + " " +  @employee.last%></h3>

<% form_for(:employee, @employee, :url => {:action => 'update', :id => @employee.id}) do |f| %>
  <p>
    First Name: <%= f.text_field 'first' %>
  </p>
  <p>
    Last Name: <%= f.text_field 'last' %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
