<h1>Employees#index</h1>
<p>Find me in app/views/employees/index.html.erb</p>

<table>
  <tr>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.first, :action => 'show', :id => employee.id %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => employee.id %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => employee.id}, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New employee', :action => 'new' %>
<br />
<%= link_to 'Group employees for lunch!', :action => 'shuffle' %>

