<h1>Employees#new</h1>
<p>Find me in app/views/employees/new.html.erb</p>

<%= error_messages_for :employee %>

<% form_for(:employee, @employee, :url => {:action => 'create'}) do |f| %>
  <p>
    First: <%= f.text_field 'first' %>
  </p>
  <p>
    Last: <%= f.text_field 'last' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
