<h1>Employees#show</h1>

<h3><%= (@employee.id).to_s + ".  " + @employee.first + " " +  @employee.last%></h3>

<p>Created: <i><%= time_ago_in_words(@employee.created_at) %> ago</i></p>

<%= link_to 'Edit', :action => 'edit', :id => @employee.id %> |
<%= link_to 'Back', :action => nil %>

