<h1>Lunch groups</h1>
<table>
  <tr>
  </tr>
<%emps = 0 %>
<% (@employees.sort_by {rand}).each_with_index do |employee, idx| %>
  <% if (idx % 5 == 0)  %> 
       <% emps += 1 %>
       <tr></tr>
       <tr><th><%= "Group #{emps}" %></th></tr>
       <tr></tr>
  <% end %> 
  <tr>
    <td><%= "#{[employee.first, employee.last].join(' ')}" %></td>
  </tr>
<% end %>
  
</table>

<br />

<%= link_to 'New employee', :action => 'new' %>
<br />
<%= link_to 'Back', :action => nil %>
